<div class="white-logo mt-4">
    <p class="h1 bold-poppins">
      FUNDACIÓN
    </p>
    <%= image_tag 'autoras.svg', alt: 'logo autoras' %>
</div>
<div class="lime-green mt-4">
  <p>
    Somos una organización sin fines de lucro dedicada a la gestación y consolidación de proyectos culturales liderados por mujeres.
  </p>
  <p>
    Nuestro objetivo es disminuir la brecha de oportunidades que existen hoy para el desarrollo integral de las personas en Chile y Latinoamérica.
  </p>
</div>
<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6 card-project1 m-md-3">
      <div class="description-text padding-description pt-5">
        <p>
          Finalización del largometraje SANDRA, ópera prima de la directora Yennifer Uribe. Esta película es una coproducción entre las empresas <a href ="https://monociclocine.com/" class="text-dark">Monociclo Cine</a> (Colombia) y <a href="https://www.pindaproducciones.com/" class="text-dark">Pinda Producciones</a> (Chile) en alianza con Fundación Autoras.
        </p>
        <p>
          Para el rodaje cuenta con el apoyo de los fondos Proimágenes e Ibermedia Coproducción, además de la Comisión Fílmica de Medellín. 
        </p>
      </div>
      <div class="projects-text padding-description">
        <div class="subtitles bold-poppins text-white">
          Largometraje
        </div>
        <div class="titles-projects bold-poppins text-white">
          SANDRA
        </div>
      </div>
    </div>
    <div class="col-md-6 card-project2 m-md-3">
      <div class="description-text padding-description pt-5">
        <p>
          Programa prototipo de talleres online basado en los Derechos Fundamentales de los niños, niñas y adolescentes (NNA) según la UNICEF.
        </p>
        <p>
          La metodología consistirá en el desarrollo de un videojuego, en scratch y otros lenguajes. 
        </p>
      </div>
      <div class="projects-text padding-description">
        <div class="subtitles bold-poppins text-dark">
          Desarrollo de videojuegos:
        </div>
        <div class="titles-projects bold-poppins text-dark">
          APRENDIENDO SCRATCH
        </div>
      </div>
    </div>
  </div>
</div>