<div class="white-logo mt-4">
    <p class="h1 bold-poppins">
      FUNDACIÓN
    </p>
    <%= image_tag 'autoras.svg', alt: 'logo autoras' %>
</div>
<div class="lime-green mt-4">
  <p>
    Somos una organización sin fines de lucro dedicada a la gestación y consolidación de proyectos culturales liderados por mujeres.
  </p>
  <p>
    Nuestro objetivo es disminuir la brecha de oportunidades que existen hoy para el desarrollo integral de las personas en Chile y Latinoamérica.
  </p>
</div>
<div class="container-fluid">
  <div class="row justify-content-md-center card-deck">
    <div class="col-md-auto card text-white float-right p-0 m-md-3">
      <%= image_tag 'sandra.png', class: 'img-fluid'%>
      <div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
        <div class="card-text bold-poppins subtitles">Largometraje</div>
        <div class="card-text bold-poppins titles-projects">SANDRA</div>
      </div>
    </div>
    <div class="col-md-auto card text-dark float-right p-0 m-md-3">
      <%= image_tag 'scratch.png', class: 'img-fluid'%>
      <div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
        <div class="card-text bold-poppins subtitles">Desarrollo de videojuegos:</div>
        <div class="card-text bold-poppins titles-projects">APRENDIENDO SCRATCH</div>
      </div>
    </div>
  </div>
</div>
