<div class="white-logo mt-4">
    <p class="h1 bold-poppins">
      FUNDACIÓN
    </p>
    <%= image_tag 'autoras.svg', alt: 'logo autoras' %>
</div>
<div class="lime-green mt-4">
  <p>
    Somos una organización sin fines de lucro dedicada a la gestación y consolidación de proyectos culturales liderados por mujeres.
  </p>
  <p>
    Nuestro objetivo es disminuir la brecha de oportunidades que existen hoy para el desarrollo integral de las personas en Chile y Latinoamérica.
  </p>
</div>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6 project-1 card-flipper effect__hover" data-id="1">
      <div class="card__front">
        <div class="card card-01 text-white float-right p-0 m-md-3">
          <div class="profile-box-01">
            <%= image_tag 'sandra.png', class: 'img-fluid'%>
            <div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
              <div class="card-text bold-poppins subtitles">Largometraje</div>
              <div class="card-text bold-poppins titles-projects">SANDRA</div>
            </div>
          </div>
        </div>
      </div>
      <div class="card__back">
        <div class="card card-01 card-project1">
          <div class="card-body">
            <p class="text-white card-text-back padding-description">
              Finalización del largometraje SANDRA, ópera prima de la directora Yennifer Uribe. Esta película es una coproducción entre las empresas <a href="https://monociclocine.com/" class="text-dark">Monociclo Cine</a> (Colombia) y <a href="https://www.pindaproducciones.com/" class="text-dark">Pinda Producciones</a> (Chile) en alianza con Fundación Autoras. 
            </p>
            <p class="text-white card-text-back padding-description">
              Para el rodaje cuenta con el apoyo de los fondos Proimágenes e Ibermedia Coproducción, además de la Comisión Fílmica de Medellín.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 card-flipper effect__hover" data-id="1">
      <div class="card__front">
        <div class="card card-01 text-white float-right p-0 m-md-3">
          <div class="profile-box-01">
            <%= image_tag 'scratch copy.png', class: 'img-fluid'%>
            <div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
              <div class="card-text bold-poppins subtitles text-dark">Desarrollo de videojuego</div>
              <div class="card-text bold-poppins titles-projects text-dark">APRENDIENDO SCRATCH</div>
            </div>
          </div>
        </div>
      </div>
      <div class="card__back">
        <div class="card card-01 card-project2">
          <div class="card-body">
            <p class="text-white card-text-back padding-description">
              Programa prototipo de talleres online basado en los Derechos Fundamentales de los niños, niñas y adolescentes (NNA) según la UNICEF. 
            <p class="text-white card-text-back padding-description">
              La metodología consistirá en el desarrollo de un videojuego, en scratch y otros lenguajes.
            </p>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>