body {
  font-family: 'Poppins', sans-serif !important;
}

.lime-green {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 1.25em;
  float: left;
  margin: 0;
  width: 50%;
  padding: 8vw;
  background-color: #D9ED92;
}

.white-logo {
  color: #B5E48C;
  float: left;
  margin: 0;
  width: 50%;
  padding-top: 4vw;
  padding-left: 8vw;
  padding-right: 2vw;
  background-color: #FFFFFF;
}

.bold-poppins {
  font-weight: 700!important;
}

.projects-text {
  position: absolute;
  bottom: 10px;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.titles-projects {
  font-size: 5rem;
}

.subtitles {
  font-size: 2rem!important;
}

.card-project1:hover {
  background-image: none;
  .projects-text {
    opacity: 0;
  }
  .description-text {
    opacity: 1;
  }
}

.card-project1{
  max-width: 700px;
  height: 400px;
  background-image: image-url('sandra.png');
  background-size: cover;
  background-color: #52B69A;
  -webkit-transition: background-image 0.5s linear;
  transition: background-image 0.5s linear;
}

.card-project2:hover {
  background-image: none;
  .projects-text {
    opacity: 0;
  }
  .description-text {
    opacity: 1;
  }
}

.card-project2{
  max-width: 700px;
  height: 400px;
  background-image: image-url('scratch2.png');
  background-size: cover;
  background-color: #168AAD;
  -webkit-transition: background-image 0.5s linear;
  transition: background-image 0.5s linear;
}

.description-text {
  color: #FFFFFF;
  opacity: 0;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.footer-class {
  background-color: #1E6091;
  padding-left: 10vw;
  margin-right: 9.5vw;
}

.navbar {
  position: fixed!important;
  opacity: 0;
}

.show {
  z-index: 100;
  opacity: 1;
}
@media screen and (max-width: 1300px) {
  .card-project1 {
    max-width: 500px;
  }
  .card-project2 {
    max-width: 500px;
  }
}


@media screen and (max-width: 768px) {
  .lime-green {
    padding-top: 18em;
    width: 100%;
  }

  .white-logo {
    position: absolute;
    top: 100px;
    width: 100%;
    padding: 4vw;
  }

  .footer-class {
    background-color: #1E6091;
    width: 100%;
  }

  .copyright {
    text-align: left;
  }
  .project-1 {
    margin-top: 10px;
    margin-bottom: -20px;
  }
  .titles-projects {
    font-size: 3em;
  }
  .subtitles {
    font-size: 1.5em!important;
  }
  .card-project1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .card-project2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.mb-5 {
  font-size: 48px;
}
.padding-description {
  padding-left: 30px;
}