<footer class="footer-class text-lg-start text-white mb-4">
  <div class="row py-5 mx-0">
    <div class="col-md">
      <div class="bold-poppins subtitles mb-5">
        CONTACTO
      </div>
      <p>
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <a class="text-white px-2" href="mailto:hola@fundacionautoras.cl">hola@fundacionautoras.cl</a> 
      </p>
      <p class="mb-md-0">
        <i class="fab fa-whatsapp" aria-hidden="true"></i>
        <a class="text-white px-2" href="https://wa.me/56999199210">+56 9 9919 9210</a>
      </p>
    </div>
    <div class="col-md mt-auto">
      <p class="text-right copyright m-0">©2021 Fundación Autoras</p>
    </div>
  </div>
</footer>