<nav class="navbar fixed-top navbar-light bg-white m-0">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><%= image_tag 'autoras.svg', alt: 'logo autoras', height: 40 %></a>
  </div>
</nav>